#formulaire1 {
border : 5px solid black;
border-radius: 10px;
padding: 10px 0px 10px 0px;
}

p {
    color : red;
    }
h2{
        color :green;
        padding: 10px;
        border : 5px solid black;
        border-radius: 10px;
    }
h3{
    color: black;
    margin: 10px 25px;
}
.questionProject{
        padding: 10px 0px 10px 0px;
    }
.titre1 {
        color: black;
        font-size: 16px;
    }
.button{
    text-align:  center;
    padding-top: 10px;
}
.textResult{
    color:black;
    text-align: center;
  }
  ul {
	font-size: 15px;
	list-style: square;
  }
  .textCout{
    color : red;
    border :5px solid;
    animation: myAnim 2s ease 0s 1 normal forwards;
  }
  @keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}
	24% {
		opacity: 1;
	}
	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}
	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}
	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}
	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}
	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}
	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
